Node red Module/Jason.txt
[
    {
        "id": "5e0bc0e9bab3ec90",
        "type": "tab",
        "label": "world map",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8ea168dd680e870",
        "type": "ui_worldmap",
        "z": "5e0bc0e9bab3ec90",
        "group": "626f7c7b3bb772cd",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "31.045969",
        "lon": "31.377189",
        "zoom": "18",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 720,
        "y": 90,
        "wires": []
    },
    {
        "id": "c134bcea1f72bf03",
        "type": "template",
        "z": "5e0bc0e9bab3ec90",
        "name": "lat",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "31.130474\n   ",
        "output": "yaml",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "ae5069de5cf91f53"
            ]
        ]
    },
    {
        "id": "2172bb5209f184dc",
        "type": "template",
        "z": "5e0bc0e9bab3ec90",
        "name": "lon",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "31.645777",
        "output": "yaml",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "59cde1ef0deafb3e"
            ]
        ]
    },
    {
        "id": "40a3f119b1c21bc9",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "function 1",
        "func": "msg.payload = {\n    \"name\": \"hhh\",\n    \"lat\": global.get(\"lat\"),\n    \"lon\": global.get(\"lon\"),\n    \"icon\": \"car\" ,\n    \"iconColor\": \"red\"\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ae5069de5cf91f53",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "my lat",
        "func": "var lat = msg.payload\nglobal.set(\"lat\", lat);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "40a3f119b1c21bc9"
            ]
        ]
    },
    {
        "id": "59cde1ef0deafb3e",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "my lon",
        "func": "var lon = msg.payload\nglobal.set(\"lon\", lon);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "40a3f119b1c21bc9"
            ]
        ]
    },
    {
        "id": "e1f286709e17dd16",
        "type": "ui_button",
        "z": "5e0bc0e9bab3ec90",
        "name": "",
        "group": "626f7c7b3bb772cd",
        "order": 2,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "show stations",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "448f43d0db244cb1",
                "3f06c44c398cab3f",
                "5f4f74e27a7629a4",
                "e468c0a722e36195"
            ]
        ]
    },
    {
        "id": "448f43d0db244cb1",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "function 24",
        "func": "msg.payload=\n    {\n    \"name\": \"elsayed\",\n    \"lat\": 31.045969,\n    \"lon\": 31.377189,\n                \"icon\":\"car\",\n                \"iconColor\": \"black\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 30,
        "wires": [
            [
                "a8ea168dd680e870"
            ]
        ]
    },
    {
        "id": "3f06c44c398cab3f",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "function 25",
        "func": "msg.payload=\n{\n    \"name\": \"chell out\",\n    \"lat\": 31.046617,\n    \"lon\": 31.375013,\n    \"iconColor\": \"red\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 70,
        "wires": [
            [
                "a8ea168dd680e870"
            ]
        ]
    },
    {
        "id": "5f4f74e27a7629a4",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "function 26",
        "func": "msg.payload=\n{\n    \"name\": \"chell out\",\n    \"lat\": 31.046608,\n    \"lon\": 31.378983,\n    \"iconColor\": \"red\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 110,
        "wires": [
            [
                "a8ea168dd680e870"
            ]
        ]
    },
    {
        "id": "e468c0a722e36195",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "function 27",
        "func": "msg.payload=\n{\n    \"name\": \"hasan\",\n    \"lat\": 31.045252,\n    \"lon\": 31.380099,\n    \"iconColor\": \"blue\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 150,
        "wires": [
            [
                "a8ea168dd680e870"
            ]
        ]
    },
    {
        "id": "18b103a1824c3c4c",
        "type": "inject",
        "z": "5e0bc0e9bab3ec90",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "c134bcea1f72bf03",
                "2172bb5209f184dc",
                "bfe778c485b0fddc",
                "8cd082d34b24282c",
                "cf544c945c35e9c1"
            ]
        ]
    },
    {
        "id": "9ba95b2f16a4e4f0",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "my id",
        "func": "global.set(\"My_ID\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 290,
        "wires": [
            []
        ]
    },
    {
        "id": "bfe778c485b0fddc",
        "type": "template",
        "z": "5e0bc0e9bab3ec90",
        "name": "my id",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1000148827",
        "output": "yaml",
        "x": 340,
        "y": 290,
        "wires": [
            [
                "9ba95b2f16a4e4f0"
            ]
        ]
    },
    {
        "id": "8cd082d34b24282c",
        "type": "template",
        "z": "5e0bc0e9bab3ec90",
        "name": "battery",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "90",
        "output": "yaml",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "8a039972af6d7440"
            ]
        ]
    },
    {
        "id": "cf544c945c35e9c1",
        "type": "template",
        "z": "5e0bc0e9bab3ec90",
        "name": "speed",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "120",
        "output": "yaml",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "f8d003b8920e5352"
            ]
        ]
    },
    {
        "id": "8a039972af6d7440",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "my battery",
        "func": "global.set(\"my_battery\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f8d003b8920e5352",
        "type": "function",
        "z": "5e0bc0e9bab3ec90",
        "name": "my speed",
        "func": "global.set(\"my_speed\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3c2e3698fd41e71c",
        "type": "comment",
        "z": "5e0bc0e9bab3ec90",
        "name": "hassan",
        "info": "id  :\n1000148830  \nlat :\n31.130228\nlon :\n31.647099\n\n",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "5238fcd7dea79974",
        "type": "comment",
        "z": "5e0bc0e9bab3ec90",
        "name": "elsayed",
        "info": "id\nlat\nlon",
        "x": 940,
        "y": 290,
        "wires": []
    },
    {
        "id": "7de0375731eea05f",
        "type": "ui_spacer",
        "z": "5e0bc0e9bab3ec90",
        "name": "spacer",
        "group": "626f7c7b3bb772cd",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "1fb0891180671571",
        "type": "ui_spacer",
        "z": "5e0bc0e9bab3ec90",
        "name": "spacer",
        "group": "626f7c7b3bb772cd",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "76522361a734b37f",
        "type": "ui_spacer",
        "z": "5e0bc0e9bab3ec90",
        "name": "spacer",
        "group": "626f7c7b3bb772cd",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "8a9b51a8d5622ca1",
        "type": "ui_spacer",
        "z": "5e0bc0e9bab3ec90",
        "name": "spacer",
        "group": "626f7c7b3bb772cd",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "626f7c7b3bb772cd",
        "type": "ui_group",
        "name": "gps",
        "tab": "fc6be7a5a896c201",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc6be7a5a896c201",
        "type": "ui_tab",
        "name": "Map for stations",
        "icon": "fa-map",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]